{% extends "core/base.html" %}

{% block content %}

<div class="row">
    <div class="col text-center">
        Username: {{ user.username }}
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <span>{{ user_stats.my_correct_guesses }} of {{ user_stats.my_count }} Identifications Correct</span>.
        Current
        Score: <span id='score'>{{ user_stats.my_score }}</span>
    </div>
</div>
</main>
<!--
	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
			<p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
		</div>
	</footer>
-->

{% endblock %}