{% extends "core/base.html" %}

{% block identify %}
<!-- <a class="nav-link" href="#">IDentify <span class="sr-only">(current)</span></a> -->
<span class="navbar-text">
	<b>{{ group.name }}</b>
</span>

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col text-center">
			<span><span id='my_correct_guesses'>{{ user_stats.my_correct_guesses }}</span> of <span
					id='my_count'>{{ user_stats.my_count }}</span> Correct</span>.
			Current
			Score: <span id='my_score'>{{ user_stats.my_score }}</span>

		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<img id="bird-img" src="{{ image_url }}" class="img-fluid rounded mx-auto d-block img-thumbnail"
				style="max-height: 400px;" alt="Some kind of bird">
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<div id="caption">{{ location }} on {{ observation_date }} <small>(photo by {{ photo_by }})</small>.
			</div>

			<div id="species-guesser" class="not---btn-group" role="group">
				{% for choice in group.choices %}
				<button type="button" class="btn btn-outline-secondary" id="choice-{{ forloop.counter }}"
					data-species-code="{{ choice.taxonCode }}">{{ forloop.counter }}: {{ choice.name }}</button>
				{% endfor %}
			</div>
			<div id="confidence" class="not---btn-group" role="group" style="margin: 10px">
				{% for choice in confidences %}
				<button type="button" class="btn btn-outline-secondary" id="confidence-{{ choice.abbrev }}"
					data-value="{{ choice.value }}">{{choice.abbrev}}: {{ choice.name }}</button>
				{% endfor %}
			</div>
			<div>
				<label class="sr-only" for="comments">Name</label>
				<input type="text" class="form-control mb-2 mr-sm-2" id="comments"
					placeholder="Enter any ID comments or disagreements here.">
			</div>
			<div>
				<button type="button" class="btn btn-outline-secondary showAfter" id="next-btn">N: Go to Next
					Bird</button>
			</div>
			<div>
				<a href='#' id="ebirdChecklistLink" target="_blank" class="showAfter">View eBird checklist</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.hotkeys@0.1.0/jquery.hotkeys.min.js"></script>

<script>
	let bird_id = {{ bird_id }};

	function resetScreen() {
		$('.showAfter').hide();
		let guessingButtons = $('#species-guesser > button');
		guessingButtons.removeClass('btn-success');
		guessingButtons.removeClass('btn-danger');
		$('#species-guesser').prop('disabled', false);
		$('#confidence').prop('disabled', false);
	}

	function get_data() {
		let speciesGuess = $('#species-guesser > .active');
		if (!speciesGuess.length)
			return null;
		let confidenceBtn = $('#confidence > .active');
		if (!confidenceBtn.length)
			return null;

		let taxonCode = $(speciesGuess).data('species-code');
		let confidence = parseInt($(confidenceBtn).data('value'));
		let comments = $('#comments').val();

		let data = {
			bird_id: bird_id,
			guess: taxonCode,
			confidence: confidence,
			comments: comments,
		};

		return data;
	}

	resetScreen();
	$('#next-btn').click(function () {
		let comments = $('#comments').val();
		if (comments) {
			let data = {
				bird_id: bird_id,
				comments: comments,
			};

			$.ajax({
				type: "POST",
				url: '/api/comment',
				data: data,
				success: function () {
					location.reload(true);
				}
			});
		} else {
			location.reload(true);
		}
	});

	$('#species-guesser > button').click(function (e) {
		let self = this;

		$('#species-guesser > button').removeClass('active');
		$(this).addClass('active');
		submit_guess();
		return false;
	});

	$('#confidence > button').click(function (e) {
		let self = this;

		$('#confidence > button').removeClass('active');
		$(this).addClass('active');
		submit_guess();
		return false;
	});

	function deactivate_bird() {
		let data = {
			bird_id: bird_id,
		};

		$.ajax({
			type: "POST",
			url: '/api/deactivate',
			data: data,
			success: function () {
				location.reload(true);
			}
		});
	}

	function submit_guess() {
		let data = get_data();
		if (!data)
			return;

		$('#species-guesser').children().prop('disabled', true);
		$('#confidence').children().prop('disabled', true);

		$.ajax({
			type: "POST",
			url: '/api/guess',
			data: data,
			success: function (result, textStatus, xhr) {
				console.log(result);
				let is_correct = result.is_correct;
				let correct_answer = result.correct_answer;
				let user_stats = result.user_stats;

				let guess = data.guess;
				// let confidence_guess = data.confidence;
				let guessButton = $('#species-guesser > button[data-species-code="' + guess + '"]');
				let correctButton = $('#species-guesser > button[data-species-code="' + correct_answer + '"]');

				if (is_correct) {
					guessButton.addClass('btn-success');
					guessButton.removeClass('btn-outline-secondary');
					// $("#choice-" + correct_answer).addClass('btn-success');
				} else {
					guessButton.addClass('btn-danger');
					correctButton.addClass('btn-success');
					guessButton.removeClass('btn-outline-secondary');
					correctButton.removeClass('btn-outline-secondary');
				}

				flashColor = is_correct ? 'rgba(0, 255, 0, 1)' : 'rgba(255, 0, 0, 1)';

				$('.showAfter').show();
				$('#ebirdChecklistLink').attr('href', result.ebird_checklist_url);
				$('#my_score').text(user_stats.my_score);
				$('#my_correct_guesses').text(user_stats.my_correct_guesses);
				$('#my_count').text(user_stats.my_count);
				$('#my_score').animate({
					color: flashColor,
				}, 400).delay(400).animate({ color: 'black' }, 400);
			},
			error: function (xhr, status, errorthrown) {
				console.log(xhr, status, errorthrown);
				$('#species-guesser').children().prop('disabled', false);
				$('#confidence').children().prop('disabled', false);

				alert('backend error');
			},
			dataType: 'json'
		});
	}

	$.each(["1", "2", "3", "4", "5", "6"], function (i, e) { // i is element index. e is element as text.
		$(document).bind('keydown', e, function () {
			$('#choice-' + e).click();
			return false;
		});
	});
	$.each(["L", "M", "H"], function (i, e) { // i is element index. e is element as text.
		$(document).bind('keydown', e, function () {
			$('#confidence-' + e).click();
			return false;
		});
	});

	$(document).bind('keydown', 'N', function () {
		$('#next-btn').click();
		return false;
	});

	$(document).bind('keydown', 'F', function () {
		deactivate_bird();
		return false;
	});

</script>
{% endblock %}
