{% extends "core/base.html" %}
{% load static %}
{% load i18n lazysignup_tags %}

{% block content %}
<section class="jumbotron">
	<div class="container">
		<h1 class="jumbotron-heading  text-center">EmpID</h1>
		<p class="lead text-muted  text-center">Welcome to EmpID, where we can finally establish that nobody can ID
			empids by sight (or, foolish would-be birder, you can try to prove us wrong.)</p>
		<p style='margin-left: 100px'>
			{% if not user.is_authenticated or user|is_lazy_user %}
			<a href="{% url 'login' %}" class="btn btn-primary my-2">Login</a> <span class='text-muted'>Sign in to your
				existing account and pick up where you left off.</span><br />
			<a href="/EE/identify" class="btn btn-primary my-2">Try to identify empids</a> <span class='text-muted'>You
				can make an account later to save your stats.</span>
			{% else %}
			<a href="/EE/identify" class="btn btn-primary my-2">Try to identify more empids</a> <span
				class='text-muted'>Welcome back, {{ user.username }}!</span><br />
			<!-- <a href="{% url 'login' %}" class="btn btn-primary my-2">Login</a> <span class='text-muted'>Sign in to your existing account and pick up where you left off.</span> -->
			{% endif %}
		</p>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col">
			<img class="rounded mx-auto d-block" style="max-height: 370px; max-width: 400px;"
				src="{% static "core/lefl.jpg" %}" />
		</div>
	</div>
</div>
</main>
<!--
	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
			<p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
		</div>
	</footer>
-->
{% endblock %}