{% extends "core/base.html" %}

{% block content %}
<div class="row">
    <div class="col text-center">
        <h1>Leaderboard</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <table class='table'>
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Total Score</th>
                    <th scope="col">Correct Guesses</th>
                    <th scope="col">Average Confidence</th>
                    <th scope="col">Last Guess On</th>
                </tr>
            </thead>
            <tbody>
                {% for leader in leaderboard %}
                <tr>
                    <td>{{ leader.username }}</td>
                    <td>{{ leader.score }}</td>
                    <td>{{ leader.correct }} of {{ leader.total }}</td>
                    <td>{{ leader.avg_confidence }}</td>
                    <td>{{ leader.last_guess_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}